# Flutter/Dart/Pub
.dart_tool/
build/
pubspec.lock
.env

# iOS
ios/Runner.xcworkspace/
ios/Runner/GoogleService-Info.plist
ios/Runner/Info.plist

# Android
android/gradle/
android/.idea
android/app/google-services.json

# Macos
macos/Podfile

# Others
*.DS_Store
.flutter-plugins-dependencies
